/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; test*/

:root {
	--main-text-color: #212121;
	--secondary-text-color: #fff;
	--owner-text-color: #757575;
	--accent-color: #2196f3;
	--contener-color: #eeeeee;
	--logo-color-text: #000;
	--buttons-port-color: #f5f4fa;
	--footer-text-color: rgba(255, 255, 255, 0.6);
	--background-footer-color: #2f303a;
	--background-section: #e5e5e5;
	--line-color: #ececec;
	--backround-color: #fff;
	--icon-color: #afb1b8;
	--main-font: "Roboto", sans-serif;
}

body {
	background-color: var(--backround-color);
	color: var(--main-text-color);
	font-family: var(--main-font);
	font-size: 14px;
	letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
ul,
ol {
	list-style: none;
	padding-left: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
address {
	font-style: normal;
	margin-top: 20px;
}

.list-margin {
	margin-bottom: 9px;
}
button {
	display: block;
	cursor: pointer;
	border: none;
	border-radius: 4px;
}
.section {
	padding-top: 94px;
	padding-bottom: 94px;
}
.no-padding-top {
	padding-top: 0;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.menu-flex {
	display: flex;
	align-items: center;
}

.header_border {
	border-bottom: 1px solid rgba(236, 236, 236, 1);
}

header nav ul {
	display: flex;
	align-items: center;
	gap: 40px;
}

.header {
	display: flex;
	align-items: center;
	height: 80px;
}
/*.header-left {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}  */

.header-right {
	display: flex;
	align-items: center;
	margin-left: auto;
	gap: 40px;
}

.logo {
	font-family: "Raleway", sans-serif;
	font-size: 26px;
	line-height: 1.1738;
	font-weight: 700;
	color: var(--logo-color-text);
}
.nav-margin {
	margin-left: 93px;
}
.logo_first_word {
	color: #2196f3;
}
.logo_second_word_footer {
	color: rgba(255, 255, 255, 1);
}
.logo_second_word_footer:hover {
	color: var(--accent-color);
}

.menu {
	font-size: 14px;
	line-height: 1.1721;
	font-weight: 500;
	color: var(--main-text-color); /*- zalecenie Ivana - ale chyba jednak nie?*/
}

.current {
	color: var(--accent-color);
}

.address_top_email {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--owner-text-color);
}
.address_top_tel {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--owner-text-color);
}

.hero-layout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 600px;
}

.button_page1 {
	background-color: #2196f3;
	color: #ffffff;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	cursor: pointer;
	font-family: inherit;
	text-align: center;
	margin: 0 auto;
	padding: 10px 42px;
}
.button_page1:hover {
	color: #000;
}

.text_on_banner_page1 {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 1);
	margin: 0 auto;
	margin-bottom: 30px;
	width: 696px;
}

header a:hover,
footer a:hover,
menu:hover {
	color: var(--accent-color);
}

.buttons {
	cursor: pointer;
	font-family: inherit;
	font-size: 16px;
	line-height: 1.625;
	font-weight: 500;
	background-color: var(--buttons-port-color);
	letter-spacing: 0.03em;
	color: var(--main-text-color);
	padding: 6px 25px;
}
.buttons:hover {
	background-color: #2196f3;
	color: #fff;
}
.buttons_current {
	background-color: #2196f3;
	color: #fff;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.lorem-layout {
	display: flex;
	gap: 30px;
}
.lorem-layout li {
	flex-basis: 270px;
}
.what-we-do-images {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	width: 1170px;
}

.what-we-do-layout {
	/*usunąć? */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 386px;
}

.team-layout {
	display: flex;
	justify-content: space-between;
}

.team-layout li {
	background-color: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.image_title {
	font-size: 18px;
	line-height: 2;
	font-weight: 700;
	letter-spacing: 0.06em;
}
.image_description {
	font-size: 16px;
	line-height: 1.875;
	font-weight: 400;
	color: #757575;
	margin-top: 4px;
}
.title-desc-layout {
	padding: 20px 24px;
	border-left: 1px solid rgba(238, 238, 238, 1);
	border-right: 1px solid rgba(238, 238, 238, 1);
	border-bottom: 1px solid rgba(238, 238, 238, 1);
}

.footer-address {
	font-weight: 400;
	line-height: 1.71;
	color: #fff;
}

.footer-background {
	background-color: var(--background-footer-color);
	padding: 60px 0;
}

.footer_mail_tel {
	color: rgba(255, 255, 255, 0.6);
	line-height: 1.71;
	font-weight: 400;
}
.light_background {
	background-color: var(--background-section);
}
.dark_background {
	background-color: var(--background-footer-color);
	padding: 200px 0;
}
.team_background {
	background-color: var(--buttons-port-color);
}

.lorem-style {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.lorem-text {
	line-height: 1.71;
	color: #757575;
	margin-top: 10px;
}
.section-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
	margin-bottom: 50px;
}
.name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
}
.description {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
	color: #757575;
	margin-top: 10px;
}
.name-desc-padd {
	padding-top: 30px;
	padding-bottom: 30px;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* page PORTFOLIO   */

.buttons-layout {
	display: flex;
	justify-content: center;
	gap: 8px;
	margin-bottom: 50px;
}

.images-layout {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.images-layout li {
	flex-basis: 370px;
}
/*.one-image-layout {
	display: flex;
	flex-direction: column;
	padding: 20px 24px;
	justify-content: space-between;
	border: 1px solid rgba(238, 238, 238, 1);
}*/
